<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfPyQt1P-tQDytgTOQFkz4-cjet3yBlXI</string>
	<key>GCM_SENDER_ID</key>
	<string>687457787341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fertilizerapp</string>
	<key>PROJECT_ID</key>
	<string>saviru-gov</string>
	<key>STORAGE_BUCKET</key>
	<string>saviru-gov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687457787341:ios:0d54ac0ba0791df848f884</string>
	<key>DATABASE_URL</key>
	<string>https://saviru-gov-default-rtdb.firebaseio.com</string>
</dict>
</plist>